@import "./base.css";
@import "tailwindcss";

/* Tailwind v4: 宣告自訂色（olive） */
@theme {
  --color-olive-50: #f2f5ec;
  --color-olive-100: #e1e6d7;
  --color-olive-200: #cbd3bf;
  --color-olive-300: #b6c1a6;
  --color-olive-400: #a2ae8f;
  --color-olive-500: #8e9c78; /* 基準 */
  --color-olive-600: #708356;
  --color-olive-700: #485c11; /* 主按鈕色 */
  --color-olive-800: #37460c;
  --color-olive-900: #2a3308;
}
